<div *ngIf="showAddForm">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title mb-4">Add Upcoming Project</h2>
            <form [formGroup]="upcomingproject_Form" (ngSubmit)="addupcomingproject($event)">
              <div class="mb-3">
                <label for="carrosalName" class="form-label">Name:</label>
                <input type="text" id="carrosalName" class="form-control" formControlName="ProjectTitle" />
              </div>
              <div class="mb-3">
                <label for="carrosalPara" class="form-label">Paragraph:</label>
                <input type="text" id="carrosalPara" class="form-control" formControlName="Paragraph" />
              </div>
              <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select id="category" class="form-control" formControlName="category">
                  <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="carrosalImage" class="form-label">Image:</label>
                <input type="file" id="carrosalImage" class="form-control" (change)="onFileChange($event)" />
              </div>
              <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="!showAddForm && !showEditForm">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button class="btn btn-success" (click)="toggleAddForm()">Add New Item</button>
      </div>
    </div>
  </div>

  <hr />
  <!-- <div class="mb-3">
    <label for="filterCategory" class="form-label">Filter by Category:</label>
    <select id="filterCategory" class="form-control" (change)="onCategoryChange($event)">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div> -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sr .No</th>
        <th>Image</th>
        <th class="text-right">Project Title</th>
        <th class="text-right">Paragraph</th>
      <th class ="text-right">category</th>
        <th class="text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredProjects;let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="item.imageUrl" alt="image" style="height: 150px; width: 200px; float: left; margin-right: 10px;" />
        </td>
        <td class="text-right">{{ item.ProjectTitle }}</td>
        <td class="text-right">{{ item.Paragraph }}</td>
        <td class="text-right">{{ item.category }}</td>
        <td class="text-right">
          <button class="btn btn-primary" (click)="toggleEditForm(item)">Edit</button>&nbsp;
          <button class="btn btn-danger" (click)="deleteupcomingproject(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showEditForm">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title mb-4">Edit Upcoming Project</h2>
            <form [formGroup]="upcomingproject_Form" (ngSubmit)="updateUpcomingProject(selectedItem.id,$event)">
              <div class="mb-3">
                <label for="carrosalName" class="form-label">Name:</label>
                <input type="text" id="carrosalName" class="form-control" formControlName="ProjectTitle" />
              </div>
              <div class="mb-3">
                <label for="carrosalPara" class="form-label">Paragraph:</label>
                <input type="text" id="carrosalPara" class="form-control" formControlName="Paragraph" />
              </div>
              <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select id="category" class="form-control" formControlName="category">
                  <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="carrosalImage" class="form-label">Image:</label>
                <input type="file" id="carrosalImage" class="form-control" (change)="onFileChange($event)" />
              </div>
              <button class="btn btn-primary mt-3" type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
