<div *ngIf="showAddForm">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title mb-4">Add Project</h2>
            <form [formGroup]="Project_Form" (ngSubmit)="addProject($event)">
              <div class="mb-3">
                <label for="projectName" class="form-label">Name:</label>
                <input type="text" class="form-control" formControlName="name" />
                <div *ngIf="Project_Form.get('name')?.touched && Project_Form.get('name')?.invalid" class="text-danger">
                  Name is required.
                </div>
              </div>
              <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="!showAddForm && !showEditForm">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button class="btn btn-success" (click)="toggleAddForm()">Add New Item</button>
      </div>
    </div>
  </div>
  <hr />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sr. No</th>
        <th class="text-right">Project Name</th>
        <th class="text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Project_Data; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="text-right">{{ item.name }}</td>
        <td class="text-right">
          <button class="btn btn-primary" (click)="toggleEditForm(item)">Edit</button>&nbsp;
          <button class="btn btn-danger" (click)="deleteProject(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div *ngIf="showEditForm">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title mb-4">Edit Project</h2>
            <form [formGroup]="Project_Form" (ngSubmit)="updateProject(selectedItem.id)">
              <div class="mb-3">
                <label for="projectName" class="form-label">Name:</label>
                <input type="text" id="projectName" class="form-control" formControlName="name" />
                <div *ngIf="Project_Form.get('name')?.touched && Project_Form.get('name')?.invalid" class="text-danger">
                  Name is required.
                </div>
              </div>
              <button class="btn btn-primary mt-3" type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>